body {
  background-color: #708bf5;
  color: #ffe3d8;
  font-family: 'Press Start 2P', cursive;
  height: 92.5vh;
  margin: 0;
  padding-top: 2.5rem;
  text-align: center;
  text-shadow: 0.3em 0.3em 0.3em #081e77;
  position: relative;
}

footer {
  font-size: 0.5em;
  position: absolute;
  bottom: 1em;
  width: 20%;
  left: 40%;
  bottom: 2em;
}

.button-container {
  display: flex;
  flex-direction: column;
  margin: 3rem auto 0 auto;
  height: 30rem;
  width: 30rem;
  transform: rotate(45deg);
}

.button-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50%;
  width: 100%
}

.button {
  border: 0.5rem outset #a7c5eb;
  box-shadow:  0.8em 0.3em 0.8em #081e77;
  height: 90%;
  width: 45%;
}

.yellow {
  background-image: linear-gradient(#ffd66b, #cc9200);
  border-radius: 100% 0 0 0;
}

.green {
  background-image: linear-gradient(#5eaaa8, #356463);
  border-radius: 0 100% 0 0;
}

.blue {
  background-image: linear-gradient(#153e90, #0a1d43);
  border-radius: 0 0 100% 0;
}

.red {
  background-image: linear-gradient(#c05555, #702929);
  border-radius: 0 0 0 100%;
}

.pressed {
  border-style: inset;
  box-shadow: 0 0 1rem #ffe5b9;
}

.game-over {
  background-color: orange;
}

@media (max-width: 1000px) {
  .button-container {
    height: 40rem;
    width: 40rem;
  }
}
